html, body { height: 100% }
*{
margin:0;
padding:0;
accent-color:tomato;
font-family:verdana;
}

body{
background-color:tomato;
}
a{
text-decoration: none;
list-style-type:none;
}
.menu_list{
margin-top:20px;
}
.menu_list li{
padding-top:8px;
padding-bottom:8px;
color:#cdcdcd;
font-family:sans-serif;
list-style-type:none;

}

#log{
	font-weight:bold;
	color:tomato;

}


.menu_list li:hover{
	color: tomato;
	transition-duration:0.5s;
	margin-left:5px;
}

.navbar{
background-color:272727;
z-index:1;
padding:20px;
}

.content{
background-color:#121212;
width:80%;
margin:auto;

min-height:800px;
}
.navbar span{

  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
}


.navbar input
{

  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 15px;
  left: 17px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  

}
.navbar input:checked ~ .menu_list{
display:none;

transition-duration: 500ms;
transition-property: margin-right;

}
.navbar input:checked ~ span{
background-color:#cdcdcd;
}
.navbar input:not(checked) ~ span{
background-color:tomato;
}



.footer{
margin-top:20px;
background-color:#272727;
color:#cdcdcd;
width:100%;
position:fixed;
bottom:0px;

}


.navbar input:hover ~ span{
background-color:tomato;
}




.panel_logowania{
	
	padding-top:150px;
	
	
}


.panel_logowania input{
	display:block;
	margin:auto;
	margin-top:25px;
	padding:14px;
	width:75%;
	border-radius:8px;
	outline:none;
	border:none;
	
}
.panel_logowania input:focus{
	outline:2px solid tomato;
	background-color:#ffcdbf;
	border:none;
	
}
.panel_logowania input:selection{
	outline:2px solid tomato;
	background-color:#ffcdbf;
	border:none;
	
}

.zaloguj_przycisk{
	
	font-family:Verdana;
	background-color:tomato;
	cursor:pointer;
	margin-bottom:14px;
}

.panel_logowania form p{
	font-size:24px;
	font-family:verdana;
	color:#cdcdcd;
	text-align:center;
	
}
.panel_logowania form .zarejestrujsie{
	padding-top:14px;
	font-size:12px;
	
}
.panel_logowania form .rejhref{
	
	text-decoration:none;
	color:tomato;
}

.panel_logowania form hr{
	border:1px solid #121212;
	
}



.panel_logowania form{
	
	width:100%;
	padding:0px;
	
	background-color:#272727;
	margin-left:auto;
	margin-right:auto;
	padding-top:50px;
	padding-bottom:50px;
	
	
}

.submenu{
	display:none;
}
#wylog{
	background-color:#272727;
	width:170px;
	margin-left:-10px;
	font-weight:normal;
	
}
#log:hover  .submenu{
	display:block;
	width:150px;clear:both;
	background-color:272727;
	margin-top:5px;
	text-align:center;
	width:190px; 


}

.formularz{
padding:15%;
color:#cdcdcd;
font-family: verdana;
font-size:12px;
padding-top:0;
}
.pola_formularza{
	width: 20%;
	text-align:center;
	float:right;
	
}

.formularz_przycisk{
	display:block;
	margin:auto;
	margin-top:25px;
	padding:14px;
	width:250px;
	border-radius:8px;
	outline:none;
	border:none;
	background-color:tomato;
	cursor:pointer;
}
.formularz_przycisk:focus{
	outline:2px solid tomato;
	background-color:#ffcdbf;
	border:none;
	
}
.formularz_przycisk:selection{
	outline:2px solid tomato;
	background-color:#ffcdbf;
	border:none;
	
}

.formimg{
	display:block;
	padding-top:30px;
	width: 80px;
	margin-left:auto;
	margin-right:auto;
	/*border:2px solid tomato;border-radius:10px;*/
}
.atr{
	display:block;
	margin-left:auto;
	margin-right:auto;
	

}
/*1316*/


.pola_formularza{
	
	width:60%;
	height:40px;
	margin-right:20%;
}
hr{
	margin-bottom:20px;
	visibility:hidden;
}
.atr{
	text-align:center;
	margin-bottom:5px;
}
.r{
	
	color:#cdcdcd;
}
#r2{
	margin-top:25px;
	margin-left:22%;
}
	

	input[id="r1"]:checked ~ #form1{
		
		display:none;
	}
	input[id="r1"]:checked ~ #form2{
		
		display:block;
	}
	
	
	input[id="r2"]:checked ~ #form1{
		
		display:block;
	}
	input[id="r2"]:checked ~ #form2{
		
		display:none;
	}
@media screen and (min-width: 854px) {
	.wybor{
		display: block;
		justify-content: auto;
		
	}
	.pola_formularza{
	
	width:20%;
	height:auto;
	margin-right:0px;
}
hr{
	margin-bottom:auto;
	visibility:visible;
}
.atr{
	text-align:left;
	margin-bottom:-20px;
}
	.formimg{
	float:left;
	margin-left:15%;
	padding:40px;
	border:2px solid tomato;
	border-radius:10px;
	margin-right:30px;
	margin-bottom:20px;
	display:block;
}
.submenu{
	display:none;
}
#wylog{
	background-color:#272727;
	width:170px;
	margin-left:-10px;
	font-weight:normal;
}
#log:hover  .submenu{
	display:block;
	width:150px;clear:both;
	background-color:272727;
	margin-top:5px;
	text-align:center;
	width:190px; 


}
#log{
	width:150px;
	
	
}
p{
	color:tomato;
}

.navbar input{
display: none;
}

.navbar span{
display: none;
}
.navbar input:checked ~ .menu_list{
display: block;
}

.menu_list{
margin-top:0px;
margin-left:20%;
  width: 80%;

}

.navbar ul li{
float:left;
margin-left:20px;
margin-right:20px;
}
.navbar ul{
margin-top:-20px;

}
.menu_list li:hover{
	color: tomato;
	transition-duration:0.5s;
	margin-left:20px;
	scale:1.1;
}
#log:hover{
scale:1.1;
}


.panel_logowania form{

	background-color:#272727;
	width:25%;
	margin-left:auto;
	margin-right:auto;
	
	padding:50px;
	border-radius:10px;
	
}
/*
span{
	float:left;
}*/

.formimg{
	margin-top:0%;
}
.formularz{
	padding-top:0px;
	
}
.content{
		padding-top:100px;
		
	}
	
	

	

	
}

@media (min-width:854px) and (max-width:1320px) {
	#r2{
		margin-left:32%;
		
	}
	
	
	input[id="r1"]:checked ~ #form1{
		
		display:none;
	}
	input[id="r1"]:checked ~ #form2{
		
		display:block;
	}
	
	
	input[id="r2"]:checked ~ #form1{
		
		display:block;
	}
	input[id="r2"]:checked ~ #form2{
		
		display:none;
	}
	.pola_formularza{
	
	width:20%;
	height:auto;
	margin-right:0px;
}
hr{
	margin-bottom:auto;
	visibility:visible;
}
.atr{
	text-align:left;
	margin-bottom:-20px;
}
    .content{
		padding-top:1px;
		
	}
	.formimg{
		float:none;
		border:2px solid tomato;border-radius:10px;
		width:80px;
	margin-left: auto;
	margin-right: auto ;
	margin-top:40px;
	margin-bottom:10px;
		
	}
	.formularz{
		padding-top:10px;
	}
	.wybor{
		display: flex;
		justify-content: center;
		padding-top:15px;
	}
}​





