html{height:100%;}
body{height:100%;margin-top:55px;/**/}
*{
margin:0;
padding:0;
accent-color:tomato;
font-family:verdana;

}
.logo{
	position:fixed;right:13.5px;top:13.5px;
}
.lewywynik::-webkit-scrollbar {
  width: 8px;
}
 
.lewywynik::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px tomato;
}
 
.lewywynik::-webkit-scrollbar-thumb {
  background-color: tomato;
  outline: 1px solid red;
}


body{
background-color:tomato;
}
a{
text-decoration: none;
list-style-type:none;
}
.menu_list{
margin-top:20px;
}
.menu_list a li{
padding-top:20px;
padding-bottom:8px;
color:#cdcdcd;
font-family:verdana;
list-style-type:none;


}

#log{
	font-weight:bold;
	color:tomato;
	padding-top:21px;
	list-style-type:none;

}


.menu_list li:hover{
	color: tomato;
	transition-duration:0.5s;
	margin-left:5px;
}

.navbar{
background-color:272727;
margin-top:-55px;
z-index:1;
padding:20px;
position:fixed;/**/
width:100%;/**/
}

.content{
	padding-top:68px;
background-color:#121212;
width:80%;
margin:auto;

height:100%;
/*overflow: hidden;*/

}
.navbar span{

  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: tomato;
  border-radius: 3px;
}


.navbar input
{

  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: 15px;
  left: 17px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  

}
.navbar input:checked ~ .menu_list{
display:none;

transition-duration: 500ms;
transition-property: margin-right;

}
.navbar input:checked ~ span{
background-color:tomato;
}
.navbar input:not(checked) ~ span{
background-color:#cdcdcd;
}



.footer{

font-size:10px;
background-color:#272727;
color:#cdcdcd;
width:100%;
position:fixed;
bottom:0px;
padding-top:3px;
padding-bottom:3px;
}


.navbar input:hover ~ span{
background-color:#cdcdcd;
}




.panel_logowania{
	
	padding-top:150px;
	
	
}


.panel_logowania input{
	display:block;
	margin:auto;
	margin-top:25px;
	padding:14px;
	width:75%;
	border-radius:8px;
	outline:none;
	border:none;
	
}
.panel_logowania input:focus{
	outline:2px solid tomato;
	background-color:#ffcdbf;
	border:none;
	
}
.panel_logowania input:selection{
	outline:2px solid tomato;
	background-color:#ffcdbf;
	border:none;
	
}

.zaloguj_przycisk{
	
	font-family:Verdana;
	background-color:tomato;
	cursor:pointer;
	margin-bottom:14px;
}

.panel_logowania form p{
	font-size:24px;
	font-family:verdana;
	color:#cdcdcd;
	text-align:center;
	
}
.panel_logowania form .zarejestrujsie{
	padding-top:14px;
	font-size:12px;
	
}
.panel_logowania form .rejhref{
	
	text-decoration:none;
	color:tomato;
}

.panel_logowania form hr{
	border:1px solid #121212;
	
}



.panel_logowania form{
	
	width:100%;
	padding:0px;
	
	background-color:#272727;
	margin-left:auto;
	margin-right:auto;
	padding-top:50px;
	padding-bottom:50px;
	
	
}

.submenu{
	display:none;
}
#wylog{
	/*position:absolute; tylko dla desktopa*/
	background-color:#272727;
	width:170px;
	margin-left:40px;
	font-weight:normal;
	text-align:left;
	
}
#log:hover  .submenu{
	display:block;
	width:150px;clear:both;
	background-color:272727;
	margin-top:5px;
	text-align:center;
	width:190px; 


}

.formularz{
padding:15%;
color:#cdcdcd;
font-family: verdana;
font-size:14px;
padding-top:0;
background-color:#121212;
}
.pola_formularza{
	width: 20%;
	text-align:center;
	float:right;
	
}

.formularz_przycisk{
	display:block;
	margin:auto;
	margin-top:25px;
	padding:14px;
	width:250px;
	border-radius:8px;
	outline:none;
	border:none;
	background-color:tomato;
	cursor:pointer;
	text-align:center;
}
.formularz_przycisk:focus{
	outline:2px solid tomato;
	background-color:#ffcdbf;
	border:none;
	
}
.formularz_przycisk:selection{
	outline:2px solid tomato;
	background-color:#ffcdbf;
	border:none;
	
}

.formimg{
	display:block;
	padding-top:30px;
	width: 80px;
	margin-left:auto;
	margin-right:auto;
	/*border:2px solid tomato;border-radius:10px;*/
}
.atr{
	display:block;
	margin-left:auto;
	margin-right:auto;
	

}
/*1316*/


.pola_formularza{
	
	width:60%;
	height:40px;
	margin-right:20%;
}
hr{
	margin-bottom:20px;
	visibility:hidden;
}
.atr{
	text-align:center;
	margin-bottom:5px;
}
.r{
	
	color:#cdcdcd;
}
#r2{
	margin-top:25px;
	margin-left:25%;
}
	

	input[id="r1"]:checked ~ #form1{
		
		display:none;
	}
	input[id="r1"]:checked ~ #form2{
		
		display:block;
	}
	
	
	input[id="r2"]:checked ~ #form1{
		
		display:block;
	}
	input[id="r2"]:checked ~ #form2{
		
		display:none;
	}
	
	
.tooltip {
	/*float:left;*/
  display:inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400x;
  background-color: black;
  color: #fff;
  text-align: left;
  border:1px solid tomato;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.nazwapola{
	color:#cdcdcd;
	margin-left:20px;
	
}

.p{
	
	float:left;
	margin-right:4px;
	
	
}
/*WYNIKI*/

.wyniki{
	
	padding:20px;
	padding-left:10%;
	padding-right:10%;
	font-size:12px;
	
}




th, td {
  border: 2px solid #ff6347;
  padding:5px;
}


table{
	margin-top:40px;
	 border: 2px solid #ff6347;
	 border-collapse: collapse;
	 margin-left:auto;
	 margin-right:auto;
	 
}
.tabela_wynikow{
	margin-top:20px;
	width:80%;
	color:#cdcdcd;
	margin-top:0px;
}

.tabela_zapisu_danych{
	border:none;
	margin-left:10%;
}
#tw1{
	padding-top:50px;
}

.dodwynikform{
	padding-bottom:50px;
}


.lewywynik{
	width:25%;
	float:left;
	margin-top:20px;
	height:88%;
	overflow: auto;
		

	
	
	
}
.prawywynik{
	width:74%;
	float:right;
		

	
}

#wynikitext{
	color:tomato;
	padding-bottom:0px;
	text-align:center;
}
.lewywynik{float:none;width:100%;height:200px;color:#scdcdcd;border: 1px solid tomato;padding-bottom:5px;}

.prawywynik{float:none;width:100%;background-color:#121212;}


.profil{
	color:#cdcdcd;
	padding:10px;
	
	
}
.profilname{
	color:tomato;
	font-size:24px;
	text-align:center;
	padding-bottom:50px;
	margin-top:20px;
	margin-bottom:20px;
}


.polehasla{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:25px;
	padding:14px;
	width:250px;
	border-radius:8px;
	outline:none;
	border:none;
	background-color:white;
	cursor:pointer;
	text-align:left;
	
}

.polehasla:focus{
	outline:2px solid tomato;
	background-color:#ffcdbf;
	border:none;
	
}
.polehasla:selection{
	outline:2px solid tomato;
	background-color:#ffcdbf;
	border:none;
	
}

#profilform1 input{
		
	margin-left:auto;
margin-right:auto;	

}


.profilzm{
		text-align:center! important;
		color:tomato;
}
.profilicon{
		display:none! important;
		
}
.iconprofilemobile{display:block;}
.iconprofilemobile{
	float:right; width:60px;position:relative;top:-15px;right:10%;
}

.tipsimg{
	width:17%;
	margin-left:auto;
}
.tipsleft{
	
	color:tomato;
	text-align:center;
	padding-bottom: 40px;
	font-size:32px;
	
}
.tip{
	color:#cdcdcd;
	margin-left:20px;
	margin-right:20px;
	padding-bottom:15px;
	text-align: justify;
}
.tipsright p {
	text-align:center;
	padding-top:60px;
}


@media screen and (min-width: 1080px) {
	body{
		overflow: hidden;
	}
	
#z1{
	position:relative;
	left:15%;
}	
#z2{
	margin-right:90%;
}	
#z3{
	position:relative;
	left:5%;
}	
#z4{
	position:relative;
	right:70%;
	bottom:-50px;
}	
#z5{
	position:relative;
	right:180%;
	bottom:100px;
}	
.tipsimg{
	width:50%;
	margin-left:auto;
	display:block;
}
.tipsleft{
	
	color:tomato;
	text-align:center;
	padding-bottom: 40px;
	font-size:32px;
	
	
}
.tip{
	color:#cdcdcd;
	margin-left:130px;
	margin-right:20px;
	padding-bottom:15px;
	text-align: justify;
	font-size:24px;
}
.tipsright {
	text-align:center;
	width:250px;
	float:left;
	
}
	
.tips{
	width:70%;
	float:left;
	padding-top:80px;
}
	
	
	.logo{
		
		position:fixed;right:15%;top:14px;
		height:40px;
	}
	.iconprofilemobile{display:none;}
	#profilform1 input {
    margin-left: 10px;
    margin-right: 10px;
}
	.profil{
		text-align:left;
		margin-left:30px;
	}
	.polehasla{
		margin-left:10px;
	}
	.profilicon{
		display:block! important;
		position:absolute;
		left:60%;
		width:200px;
		border: 2px solid tomato;
		border-radius:10px;
	}
	.profilzm{
		text-align:left!important;
		margin-left:40px;
		margin-top:10px;
}
	#profilform1{
		
		margin-left:30px;

	}
	#profilform2{
		margin-left:30px;
	}
	
	#wynikitext{
	color:tomato;
	padding-bottom:40px;
	text-align:center;
}
	#r2{
		margin-left:0%;
	}
	.pola_formularza{
	
	width:20%;
	height:auto;
	margin-right:0px;
}
hr{
	margin-bottom:auto;
	visibility:visible;
}
.atr{
	text-align:left;
	margin-bottom:-20px;
}
	.formimg{
	float:left;
	margin-left:15%;
	padding:40px;
	border:2px solid tomato;
	border-radius:10px;
	margin-right:30px;
	margin-bottom:20px;
	display:block;
}
.submenu{
	display:none;
	
}
#wylog{
	background-color:#272727;
	width:170px;
	margin-left:-20px;
	
	width:100%;
	font-weight:normal;
	/*position:absolute;*/
	text-align:center;
}

#log:hover  .submenu{
	display:block;
	width:150px;clear:both;
	background-color:272727;
	margin-top:0px;
	text-align:center;
	width:190px; 
position:fixed;


}
#log{
	width:150px;
	
	
}
p{
	color:tomato;
}
.navbar{/**/
	position:fixed;
	width:100%;
	
}
.navbar input{
display: none;
}

.navbar span{
display: none;
}
.navbar input:checked ~ .menu_list{
display: block;
}

.menu_list{
margin-top:0px;
margin-left:20%;
  width: 80%;

}

.navbar ul li{
float:left;
margin-left:20px;
margin-right:20px;

}
.navbar ul{
margin-top:-20px;

}
.menu_list li:hover{
	color: tomato;
	transition-duration:0.5s;
	margin-left:20px;

}






.panel_logowania form{

	background-color:#272727;
	width:25%;
	margin-left:auto;
	margin-right:auto;
	
	padding:50px;
	border-radius:10px;
	
}
/*
span{
	float:left;
}*/

.formimg{
	margin-top:0%;
}
.formularz{
	padding-top:0px;
	
}
.content{
		padding-top:68px;
		height:100%;
		
	}
	
	
.nazwapola{
	color:#cdcdcd;
	margin-left:20px;
	
}

.p{
	
	float:left;
}


.lewywynik{
	width:25%;
	float:left;
	margin-top:20px;
	height:77%;
	overflow: auto;
		border:none;

	
	
	
}
.prawywynik{
	width:74%;
	float:right;
		

	
}
	
}





@media (min-width:1080px) and (max-width:1320px) {
	body{overflow: visible;}
	#wynikitext{
	color:tomato;
	padding-bottom:40px;
	text-align:center;
}
	#r2{
		margin-left:32%;
		
	}
	
	
	input[id="r1"]:checked ~ #form1{
		
		display:none;
	}
	input[id="r1"]:checked ~ #form2{
		
		display:block;
	}
	
	
	input[id="r2"]:checked ~ #form1{
		
		display:block;
	}
	input[id="r2"]:checked ~ #form2{
		
		display:none;
	}
	.pola_formularza{
	
	width:20%;
	height:auto;
	margin-right:0px;
}
hr{
	margin-bottom:auto;
	visibility:visible;
}
.atr{
	text-align:left;
	margin-bottom:-20px;
}
    .content{
		padding-top:68px;
		
	}
	.formimg{
		float:none;
		border:2px solid tomato;border-radius:10px;
		width:80px;
	margin-left: auto;
	margin-right: auto ;
	margin-top:40px;
	margin-bottom:10px;
		
	}
	.formularz{
		padding-top:10px;
	}
	.wybor{
		display: flex;
		justify-content: center;
		padding-top:15px;
	}
	
	.nazwapola{
	color:#cdcdcd;
	margin-left:20px;
	
}

.p{
	
	float:left;
	
}
	
	.lewywynik{
	width:25%;
	float:left;
	margin-top:20px;
	height:88%;
	overflow: auto;
		

	
	
	
}
.prawywynik{
	width:74%;
	float:right;
		

	
}
#wylog{
	/*position:absolute;*/
}
}​



