<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
<style>
*{
margin:0;
padding:0;
}
body{
background-color:tomato;
}
a{
text-decoration: none;
list-style-type:none;
}
.menu_list{
margin-top:20px;
}
.menu_list li{
padding-top:8px;
padding-bottom:8px;
color:#cdcdcd;
font-family:sans-serif;
list-style-type:none;
}
</style>
<!--<a href="https://www.flaticon.com/free-icons/question-mark" title="question mark icons">Question mark icons created by Freepik - Flaticon</a>-->
<!-- href="https://www.flaticon.com/free-icons/health" title="health icons">Health icons created by Freepik - Flaticon -->
</head>
<body>
{% block content %}
<div class="navbar"> 
	<input type="checkbox" checked="unckecked" />   
    <span> </span>
    <span> </span>
    <span> </span>
    <ul class="menu_list">
      <a href="/"><li>Strona glowna</li></a>
      <a href="#"><li>Formularz</li></a>
      <a href="#"><li>Wyniki</li></a>
      <a href="#"><li>O nas</li></a>
      {% if session['login'] %}
	  <a href="#" id="logs"><li id="log"><p style="color:tomato;">{{session['login']}}</p><ul class="submenu">
	  <a href="/wyloguj" id="wylogujsie_przycisk"><li id="wylog">Wyloguj się</li></a>
	  </ul>	</li></a>  

	  {% else %}
	  <a href="/login"><li id="log">Zaloguj się</li></a>
	  {% endif %}
	</ul>

  
</div>
<div class="content">
<img class="formimg" src="{{url_for('static', filename='health-check.png')}}" width="130px"  />
<input type="radio" id="r2" checked="checked"  value="Wersja Rozszerzona" name="wersja" />
      <label class="r" for="wybor name="wersja">Wersja Rozszerzona</label>

      <input type="radio" id="r1" value="Wersja Podstawowa" name="wersja" />
      <label class="r" for="wybor">Wersja Podstawowa</label>


<form class="formularz" id="form1" action="form_extended" method="post">
			<br/><br/>
			<div class="atr"><p class="nazwapola"><div class="tooltip"><img class="p" src="{{url_for('static', filename='question-mark.png')}}" width="10px"  /><span class="tooltiptext">Tooltip text</span></div>
			Wiek:</p></div> <input class="pola_formularza" id="f1_wiek"type="number" min="1" name="wiek" required/><br/><br/><hr><br/>
			
			<div class="atr"><p class="nazwapola"><div class="tooltip"><img class="p" src="{{url_for('static', filename='question-mark.png')}}" width="10px"  /><span class="tooltiptext">Tooltip text</span></div>Płeć: </p></div> <select class="pola_formularza" id="f1_plec" name="plec">
				<option value="0">Mężczyzna</option>
				<option value="1">Kobieta</option>
			</select><br/><br/><hr><br/>
			
			<div class="atr"><p class="nazwapola"><div class="tooltip"><img class="p" src="{{url_for('static', filename='question-mark.png')}}" width="10px"  /><span class="tooltiptext">Tooltip text</span></div>Typ bólu klatki piersiowej: </p></div> <select class="pola_formularza" id="f1_bol" name="bol"><br/><br/><hr><br/>
				<option value="0">Brak</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				</select><br/><br/><hr><br/>
			
			<div class="atr"><p class="nazwapola"><div class="tooltip"><img class="p" src="{{url_for('static', filename='question-mark.png')}}" width="10px"  /><span class="tooltiptext">Tooltip text</span></div>Ból klatki w trakcie wysiłku </p></div><select class="pola_formularza" id="f1_bolw" name="bolw">
				<option value="2">Nie</option>
				<option value="1">Tak</option>
				</select><br/><br/><hr><br/>
			
			<div class="atr"><p class="nazwapola"><div class="tooltip"><img class="p" src="{{url_for('static', filename='question-mark.png')}}" width="10px"  /><span class="tooltiptext">Tooltip text</span></div>Maksymalne tempo bicia serca w trakcie wysiłku [bpm]</p> </div><input class="pola_formularza" id="f1_bicieserca" type="number" min="1" name="bicieserca" required/><br/><br/><hr><br/>
			
			<div class="atr"><p class="nazwapola"><div class="tooltip"><img class="p" src="{{url_for('static', filename='question-mark.png')}}" width="10px"  /><span class="tooltiptext">Tooltip text</span></div>Ciśnienie spoczynkowe - skurczowe [mmHg] </p></div><input class="pola_formularza" id="f1_cisnienie"type="number" min="0" name="cisnienie" required/><br/><br/><hr><br/>
			
			<div class="atr"><p class="nazwapola"><div class="tooltip"><img class="p" src="{{url_for('static', filename='question-mark.png')}}" width="10px"  /><span class="tooltiptext">Tooltip text</span></div>Poziom cholesterolu całkowitego [mg/dl]</p> </div><input class="pola_formularza" id="f1_cholesterol" type="number" min="0" name="cholesterol" required/><br/><br/><hr><br/>
			
			<div class="atr"><p class="nazwapola"><div class="tooltip"><img class="p" src="{{url_for('static', filename='question-mark.png')}}" width="10px"  /><span class="tooltiptext">Tooltip text</span></div>Poziom cukru we krwi na czczo:</p> </div><select class="pola_formularza" id="f1_cukier"name="cukier">
				<option value="1">Powyżej 120md/dl</option>
				<option value="2">Poniżej 120md/dl</option>
				</select><br/><br/><hr><br/>
			
			<div class="atr"><p class="nazwapola"><div class="tooltip"><img class="p" src="{{url_for('static', filename='question-mark.png')}}" width="10px"  /><span class="tooltiptext">Tooltip text</span></div>Wynik EKG:</p> </div> <select class="pola_formularza" id="f1_ekg" name="ekg">
					<option value="0">W normie</option>
					<option value="1">Anomalie fali ST-T</option>
					<option value="2">Przerost lewej komory (Hipertrofia)</option>
				</select><br/><br/><hr><br/>
			
			<div class="atr"><p class="nazwapola"><div class="tooltip"><img class="p" src="{{url_for('static', filename='question-mark.png')}}" width="10px"  /><span class="tooltiptext">Tooltip text</span></div>Różnice odcinka ST podczas spoczynku i podczas wysiłku</p> </div><input class="pola_formularza" id="f1_st" type="number" name="st" required/><br/><br/><hr><br/>
			
			<div class="atr"><p class="nazwapola"><div class="tooltip"><img class="p" src="{{url_for('static', filename='question-mark.png')}}" width="10px"  /><span class="tooltiptext">Tooltip text</span></div>Nachylenie odcinka ST:</p> </div> <select class="pola_formularza" id="f1_nachylenie" name="nachylenie">
					<option value="1">W górę</option>
					<option value="2">Płasko</option>
					<option value="3">W dół</option>
				</select><br/><br/><hr><br/>
			
			<div class="atr"><p class="nazwapola"><div class="tooltip"><img class="p" src="{{url_for('static', filename='question-mark.png')}}" width="10px"  /><span class="tooltiptext">Tooltip text</span></div>Talasemia:</p> </div><select class="pola_formularza" id="f1_talasemia" name="talasemia">
					<option value="3">Brak</option>
					<option value="6">Brak przepływu krwi w niektórych miejscach</option>
					<option value="7">Ogólnie zaburzony przepływ krwi</option>
				</select><br/><br/><hr><br/>
				<button class="formularz_przycisk" type="submit" id="f1_submit" name="submit">Sprawdź</button>
		</form>
		
	
		
		










<form class="formularz" id="form2" action="form_simplified" method="post">
			<br/><br/>
			<div class="atr"><p class="nazwapola"><div class="tooltip"><img class="p" src="{{url_for('static', filename='question-mark.png')}}" width="10px"  /><span class="tooltiptext">Tooltip text</span></div>
			Wiek:</p></div> <input class="pola_formularza" id="f2_wiek"type="number" min="1" name="wiek" required/><br/><br/><hr><br/>
			
			<div class="atr"><p class="nazwapola"><div class="tooltip"><img class="p" src="{{url_for('static', filename='question-mark.png')}}" width="10px"  /><span class="tooltiptext">Tooltip text</span></div>Płeć: </p></div> <select class="pola_formularza" id="f2_plec" name="plec">
				<option value="0">Mężczyzna</option>
				<option value="1">Kobieta</option>
			</select><br/><br/><hr><br/>
			
			<div class="atr"><p class="nazwapola"><div class="tooltip"><img class="p" src="{{url_for('static', filename='question-mark.png')}}" width="10px"  /><span class="tooltiptext">Tooltip text</span></div>Typ bólu klatki piersiowej: </p></div> <select class="pola_formularza" id="f2_bol" name="bol"><br/><br/><hr><br/>
				<option value="0">Brak</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				</select><br/><br/><hr><br/>
			
			<div class="atr"><p class="nazwapola"><div class="tooltip"><img class="p" src="{{url_for('static', filename='question-mark.png')}}" width="10px"  /><span class="tooltiptext">Tooltip text</span></div>Ból klatki w trakcie wysiłku </p></div><select class="pola_formularza" id="f2_bolw" name="bolw">
				<option value="2">Nie</option>
				<option value="1">Tak</option>
				</select><br/><br/><hr><br/>
			
			<div class="atr"><p class="nazwapola"><div class="tooltip"><img class="p" src="{{url_for('static', filename='question-mark.png')}}" width="10px"  /><span class="tooltiptext">Tooltip text</span></div>Maksymalne tempo bicia serca w trakcie wysiłku [bpm]</p> </div><select class="pola_formularza"  id="f2_bicieserca" name="bicieserca">
					<option value="130">Obniżone ~130</option>
					<option value="160">W normie ~160</option>
					<option value="190">Podwyższone ~190</option>
				</select><br/><br/><hr><br/>
			
			<div class="atr"><p class="nazwapola"><div class="tooltip"><img class="p" src="{{url_for('static', filename='question-mark.png')}}" width="10px"  /><span class="tooltiptext">Tooltip text</span></div>Ciśnienie spoczynkowe - skurczowe [mmHg] </p></div><select  class="pola_formularza" id="f2_cisnienie" name="cisnienie">
					<option value="95">Niskie ~90</option>
					<option value="105">Obniżone ~105</option>
					<option value="120">W normie ~120</option>
					<option value="140">Podwyższone ~140</option>
					<option value="160">Wysokie ~160</option>
					</select><br/><br/><hr><br/>
			
			<div class="atr"><p class="nazwapola"><div class="tooltip"><img class="p" src="{{url_for('static', filename='question-mark.png')}}" width="10px"  /><span class="tooltiptext">Tooltip text</span></div>Poziom cholesterolu całkowitego [mg/dl]</p> </div><select class="pola_formularza"  id="f2_cholesterol" name="cholesterol">
					<option value="120">Niski ~120</option>
					<option value="135">Obniżony ~135</option>
					<option value="155">W normie ~155</option>
					<option value="200">Podwyższony ~200</option>
					<option value="300">Wysoki ~300</option>
					</select><br/><br/><hr><br/>
			
			<div class="atr"><p class="nazwapola"><div class="tooltip"><img class="p" src="{{url_for('static', filename='question-mark.png')}}" width="10px"  /><span class="tooltiptext">Tooltip text</span></div>Poziom cukru we krwi na czczo:</p> </div><select class="pola_formularza"  id="f2_cukier"name="cukier">
				<option value="2">Obniżony &lt;120mg/dl</option>
				<option value="1">Podwyższony&gt;120mg/dl</option>
				</select><br/><br/><hr><br/>
			
			
				<button class="formularz_przycisk" type="submit" id="f1_submit" name="submit">Sprawdź</button>
		</form>

</div>

<div class="footer">mikronapedy</div>
{% endblock %}
</body>
</html>

