<html>
<head>
<link rel="stylesheet" href="style.css"/>

</head>
<body>

<div class="navbar"> 
	<input type="checkbox" checked="unckecked" />   
    <span> </span>
    <span> </span>
    <span> </span>
    <ul class="menu_list">
      <a href="#"><li>Strona glowna</li></a>
      <a href="#"><li>Formularz</li></a>
      <a href="#"><li>Wyniki</li></a>
      <a href="#"><li>O nas</li></a>
	  <a href="logowanie.html"><li id="log">Zaloguj się</li></a>

  
</div>
<div class="content">
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>

<div class="footer">mikronapedy</div>

<body>
</html>