<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>

</head>
<body>

<div class="navbar"> 
	<input type="checkbox" checked="unckecked" />   
    <span> </span>
    <span> </span>
    <span> </span>
    <ul class="menu_list">
      <a href="/"><li>Strona glowna</li></a>
      <a href="/form"><li>Test</li></a>
      <a href="/tips"><li>Jak dbać o serce</li></a>
      {% if session['login'] %}
	  <a href="/profil" id="logs"><li id="log"><p style="color:tomato;font-family:">{{session['login']}}</p><ul class="submenu">
	  <a href="/profil" id="profil_przycisk"><li id="wylog">Profil</li></a>
	  
	  <a href="/wyniki" id="wyniki_przycisk"><li id="wylog">Wyniki</li></a>
	   
	  <a href="/wyloguj" id="wylogujsie_przycisk"><li  style=" color:tomato;"  id="wylog">Wyloguj się</li></a>
	   
	  </ul>	</li></a>  

	  {% else %}
	  <a href="/login"><li id="log">Zaloguj się</li></a>
	  {% endif %}
	</ul>

  <img class="logo" src="{{ url_for('static', filename='logo.png') }}" height="40px" style=""/>
</div>
<div class="content">


<div class="panel_logowania">

<form action="logowanie_action" method="post">
<p>Logowanie</p>
<input class="pole" type="text" name="login" placeholder="Login"/>
<input class="pole" type="password" name="haslo" placeholder="Hasło"/>
<input class="zaloguj_przycisk" type="submit" name="zaloguj_przycisk" value="Zaloguj"/>

<p class="zarejestrujsie">Nie masz konta? <a href="/rejestracja" class="rejhref">Zarejestruj się</a></p>
<p>{{msg}}</p>
</form>


</div>

</div>

<div class="footer">© Copyright by Adrian Hałys &amp Arkadiusz Hanejko</div>

</body>
</html>
