<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>

</head>
<body>

<div class="navbar"> 
	<input type="checkbox" checked="unckecked" />   
    <span> </span>
    <span> </span>
    <span> </span>
    <ul class="menu_list">
      <a href="/"><li>Strona glowna</li></a>
      <a href="#"><li>Formularz</li></a>
      <a href="#"><li>Wyniki</li></a>
      <a href="#"><li>O nas</li></a>
	  <a href="/login"><li id="log">Zaloguj się</li></a>
	

  
</div>
<div class="content">


<div class="panel_logowania">

<form action="logowanie_action" method="post">
<p>Logowanie</p>
<input class="pole" type="text" name="login" placeholder="Login"/>
<input class="pole" type="password" name="haslo" placeholder="Hasło"/>
<input class="zaloguj_przycisk" type="submit" name="zaloguj_przycisk" value="Zaloguj"/>

<p class="zarejestrujsie">Nie masz konta? <a href="/rejestracja" class="rejhref">Zarejestruj się</a></p>
<p>{{msg}}</p>
</form>


</div>

</div>

<div class="footer">mikronapedy</div>

</body>
</html>
