<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>

</head>
<body>
{% block content %}
<div class="navbar"> 
	<input type="checkbox" checked="unckecked" />   
    <span> </span>
    <span> </span>
    <span> </span>
    <ul class="menu_list">
      <a href="/"><li>Strona glowna</li></a>
      <a href="#"><li>Formularz</li></a>
      <a href="#"><li>Wyniki</li></a>
      <a href="#"><li>O nas</li></a>
	  <a href="/login"><li id="log">Zaloguj się</li></a>

  
</div>
<div class="content">


<div class="panel_logowania">

<form action="rejestracja_action" method="post">
<p>Rejestracja</p>
<input class="pole" type="text" name="nazwa_uzytkownika" placeholder="Nazwa użytkownika"/>
<input class="pole" type="password" name="haslo" placeholder="Hasło"/>
<input class="pole" type="password" name="haslo2" placeholder="Powtórz hasło"/>
<input class="zaloguj_przycisk" type="submit" name="zarejestruj_przycisk" value="Zarejestruj się"/>
<p class="zarejestrujsie">Masz już konto? <a href="/login" class="rejhref">Zaloguj się</a></p>
<p>{{msg}}</p>
</form>


</div>

</div>

<div class="footer">mikronapedy</div>
{% endblock %}
</body>
</html>
