<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
<style>
*{
margin:0;
padding:0;
}
body{
background-color:tomato;
}
a{
text-decoration: none;
list-style-type:none;
}
.menu_list{
margin-top:20px;
}
.menu_list li{
padding-top:8px;
padding-bottom:8px;
color:#cdcdcd;
font-family:sans-serif;
list-style-type:none;
}
</style>
</head>
<body>
{% block content %}
<div class="navbar"> 
	<input type="checkbox" checked="unckecked" />   
    <span> </span>
    <span> </span>
    <span> </span>
    <ul class="menu_list">
      <a href="/"><li>Strona glowna</li></a>
      <a href="/form"><li>Formularz</li></a>
      <a href="/tips"><li>Jak dbać o serce</li></a>
      {% if session['login'] %}
	  <a href="/profil" id="logs"><li id="log"><p style="color:tomato;font-family:">{{session['login']}}</p><ul class="submenu">
	  <a href="/profil" id="profil_przycisk"><li id="wylog">Profil</li></a>
	  
	  <a href="/wyniki" id="wyniki_przycisk"><li id="wylog">Wyniki</li></a>
	   
	  <a href="/wyloguj" id="wylogujsie_przycisk"><li  style=" color:tomato;"  id="wylog">Wyloguj się</li></a>
	   
	  </ul>	</li></a>  

	  {% else %}
	  <a href="/login"><li id="log">Zaloguj się</li></a>
	  {% endif %}
	</ul>

  <img class="logo" src="{{ url_for('static', filename='logo.png') }}" height="40px" style=""/>
</div>
<div class="content">




<p id="wynikitext" style="font-weight:bold; font-size: 20px;padding-bottom:20px;">Wyniki Badań</p>
<div class="lewywynik"><ul style=" list-style-type: none;">
			{% for i in range(dl) %}
				<li style="font-size:12px;width:75%;padding:8px;margin-left:auto;margin-right:auto;" class="formularz_przycisk" id="wynik_{{i}}">{{wyniki[i][5]}} {{wyniki[i][2]}}</li>
			{% endfor %}
		</ul></div>
		
		
		
		<div class="prawywynik" style="margin-top:20px;">
		
<form action="/usun_wpis" method="POST">
			{% for i in range(dl) %}
			
				<div id="contentw_{{i}}">
					<p id="wynikitext" style="font-weight:bold;color:#cdcdcd;padding-bottom:20px;">{{wyniki[i][2]}}  {{wyniki[i][5]}}</p>
					<table class="tabela_wynikow">{{wyniki[i][4]|safe}}</table>
					<p class="r" style="text-align:center; padding:10px;" >{{wyniki[i][3]}}</p><p style="text-align:center;"><button type="submit" style="padding:5px 10px 5px 10px ;border-radius:5px;background-color:tomato;cursor:pointer; border:none;" name="delete" value="{{wyniki[i][0]}}">Usuń</button></p>
					
				</div>
			{% endfor %}
			</form>
		</div>
		<script src="{{ url_for('static', filename='wyniki.js') }}"></script>





</div>

<div class="footer">© Copyright by Adrian Hałys &amp Arkadiusz Hanejko</div>
{% endblock %}
</body>
</html>








		
