<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
<style>
*{
margin:0;
padding:0;
}
body{
background-color:tomato;
}
a{
text-decoration: none;
list-style-type:none;
}
.menu_list{
margin-top:20px;
}
.menu_list li{
padding-top:8px;
padding-bottom:8px;
color:#cdcdcd;
font-family:sans-serif;
list-style-type:none;
}
</style>
</head>
<body>
{% block content %}
<div class="navbar"> 
	<input type="checkbox" checked="unckecked" />   
    <span> </span>
    <span> </span>
    <span> </span>
    <ul class="menu_list">
      <a href="/"><li>Strona glowna</li></a>
      <a href="/form"><li>Test</li></a>
      <a href="/tips"><li>Jak dbać o serce</li></a>
      {% if session['login'] %}
	  <a href="/profil" id="logs"><li id="log"><p style="color:tomato;font-family:">{{session['login']}}</p><ul class="submenu">
	  <a href="/profil" id="profil_przycisk"><li id="wylog">Profil</li></a>
	  
	  <a href="/wyniki" id="wyniki_przycisk"><li id="wylog">Wyniki</li></a>
	   
	  <a href="/wyloguj" id="wylogujsie_przycisk"><li  style=" color:tomato;"  id="wylog">Wyloguj się</li></a>
	   
	  </ul>	</li></a>  

	  {% else %}
	  <a href="/login"><li id="log">Zaloguj się</li></a>
	  {% endif %}
	</ul>

  <img class="logo" src="{{ url_for('static', filename='logo.png') }}" height="40px" style=""/>
</div>
<div class="content">





		<table class="tabela_wynikow" id="tw1">
			{{table|safe}}
		</table>
		{% if wynik !="Nie okkreślono" %}
		{% else	%}

			<p class="wyniki" style="color:tomato;">Niektóre z podanych danych są niestandardowe i nie znajdują odzwierciedlenia w danych testowych, co uniemożliwia otrzymanie rzetelnego wyniku. W przypadku rzeczywistego występowania takich wartości warto się bezzwłocznie skontaktować z lekarzem specjalistą.</p>
			<ul class = "tabela_wynikow" style="margin-right:auto;margin-left:auto;">

				{{msg|safe}}
			</ul>
		{% endif %}
		
		{% if session['login'] %}

		<form action="/dodaj_wynik" method="post" class="dodwynikform">
		<input type="hidden" name="tresc" value="{{table}}"/>
		<input type="hidden" name="userid" value="{{session['userid']}}"/>
		<p class="wyniki" style="color:#cdcdcd;">Tytuł: </p><input type="text" max="25" style="margin-left:10%;" name="tytul" required/>
		
		<p class="wyniki" style="color:#cdcdcd;">Opis: </p><textarea style="margin-left:10%;"maxlength="300" name="opis"></textarea>
		<button class="formularz_przycisk" type="submit" style="">Zapisz</button>
		{% else %}
		<p class="tabela_wynikow" style="margin-left:10%;padding-top:20px;">Będąc <a href="/login" style="color:tomato;">zalogowanym</a> możliwe jest zapisywanie otrzymanych rezultatów</p>
		{% endif %}





</div>

<div class="footer">© Copyright by Adrian Hałys &amp Arkadiusz Hanejko</div>
{% endblock %}
</body>
</html>







